@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=PT+Sans:wght@400;700&display=swap');



body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}
body, html{
  overflow-x: hidden;
}
code, p, li, label{
  font-family: "PT Sans", sans-serif;
}






.hero-title, .section-title, .card-title, h1, h2, h3, h4, h5, h6, a, .App .btn {
  font-family: "Archivo", sans-serif;
}
